 .ant-menu-submenu-title{
    color: rgb(120, 120, 120);
    font-size: 20px;
}

.ant-menu-item{
    color: rgb(120, 120, 120);
    margin: 2px 0px !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: rgb(245,247,251);
}

